# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# SQLite database files (if you use SQLite for testing)
*.sqlite3
*.db

# Logs
logs/
*.log

# MacOS-specific files
.DS_Store

# IDE/editor config files
.vscode/
.idea/
*.swp
